li
    width: 500px
    height: 87px
    display: flex
    padding: 12px 20px
    justify-content: space-between
    border: 1px solid variables.$grey-1
    border-radius: 4px
    background-color: variables.$grey-1
    color: variables.$grey-4
    div
        display: flex
        flex-direction: column
        gap: 15px
        span
            color: variables.$grey-3


.card__entry
        border-left: 4px solid variables.$color-secondary

.card__exit
        border-left: 4px solid variables.$grey-2