header 
    height: 4rem
    background-color: variables.$grey-1
    width: 100%
    padding: 0 15px
    box-shadow: 0px 4px 32px -12px #00000040
    display: flex
    align-items: center
    margin-bottom: 30px
    
h1
    color: variables.$color-primary
span
    color: variables.$grey-4
.content
    @media screen and (min-width:720px) 
        width: 55rem
        margin: 0 auto

    