header 
    background-color: variables.$grey-1
    height: 5rem
    display: flex
    justify-content: center
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
    margin-bottom: 25px
    div
        max-width: 55rem
        width: 100%
        display: flex
        align-items: center

    h1
        color: variables.$color-primary

    span
        color: variables.$grey-4
